/* Setup for desktop*/
* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html{
    font-size: 18px;
}


body{
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;
}


/* Header part start*/
header {
  	width: 100%;
  	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid #000000;
}


.colmarLogo {
	display: flex;
	align-items: center;
}


.colmarColor {
	text-transform: uppercase;
  	font-weight: bold;
}

.academyColor {
	text-transform: uppercase;
	color: #FF6C31;	
}

#forDesktop {
  	display: block;
}

#forDesktop a {
  	margin-left: 16px;
}

a{
	color: #000000;
  	text-decoration: none;
  	padding: 5px 5px;
  	border-radius: 5px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

a:hover {
  	background-color: #FF6C31;
}

#forMobile {
  	display: none;
}



/* Setup for Mobile devices*/

@media only screen and (max-width: 710px) {
	#forDesktop {
		display: none;
	}

	#forMobile {
  		width: 100%;
  		display: flex;
  		justify-content: space-around;
  		align-items: center;
	}

	.colmarLogo {
		display: none;
	}
}
