@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Sumana');


/* Setup for desktop*/
* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html{
    font-size: 18px;
}


body{
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;
}


/* Header part start*/
header {
  	width: 100%;
  	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid #000000;
}

header p{
	font-family: Helvetica, sans-serif;
	font-size: 26px;
}

.colmarLogo {
	display: flex;
	align-items: center;
}


.colmarColor {
	text-transform: uppercase;
  	font-weight: bold;
}

.academyColor {
	text-transform: uppercase;
	color: #FF6C31;	
}

#forDesktop {
  	display: block;
}

#forDesktop a {
  	margin-left: 16px;
}

header a{
	color: #000000;
  	text-decoration: none;
  	padding: 5px 5px;
  	border-radius: 5px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

header a:hover {
  	background-color: #9CFF92;
}

#forMobile {
  	display: none;
}


/* learnSomething section*/

#learnSomething{
	background-color: #FFA579;
  	display: flex;
}

#learnSomething h1 {
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Sumana', serif;
}

#learnSomething h2 {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
  	margin: 40px 0 40px 0;
}

#learnSomething .wrapper{
	text-align: center;
}


p{
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
}

h5{

}


button {
  	background-color: #FFFFFF;
  	border: none;
  	color: #000000;
  	padding: 15px 32px;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	width: 280px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

button:hover {
  	background-color: #7EFF71;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.learnSomething-image-box {
  	width: 60%;
  	height: auto;
  	padding: 32px 24px;
}

.learnSomething-image {
  	width: 100%;
  	height: auto;
}

.learnSomething-text {
  	display: flex;
  	flex-flow: wrap column;
  	justify-content: center;
  	margin: 32px 24px;
  	text-align: center;
}


/* keep Practicing section*/

#keepPractising {
  	display: flex;
  	margin-bottom: 32px;
}

#keepPractising h1 {
  	font-family: 'Sumana', serif;
  	font-size: 3rem;
  	font-weight: bold;
  	margin: 32px 0 24px 0;
}

#keepPractising h3 {
  	font-size: 2rem;
  	font-weight: bold;
}

#keepPractising h4 {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 1rem;
  	margin: 8px 0;
}

#keepPractising a {
	font-size: 1rem;
  	text-decoration: none;
}

#keepPractising a:hover {
  	font-family: monospace;
  	color: #FF6C31;
}

.keepPractising-box {
  	padding: 32px 24px;
  	border-right: 1px solid #FFC9B2;
}

.keepPractising-image-box {
  	width: 100%;
  	height: auto;
}

.keepPractising-image {
  	width: 100%;
  	height: auto;
}

.quoteBy {
  	margin: 20px 0;
  	font-weight: bold;
}

.shade{
	background-color: #A5FFC9;
}

.campusInformation {
  	min-width: 45%;
}

.informationBoxes {
  	display: flex;
  	min-height: 168px;
  	border-bottom: 1px solid #FFC9B2;
}

.information-image-box {
  	min-width: 35%;
  	height: auto;
  	margin: 32px;
}

.imageForDesktop {
  	width: 100%;
  	height: auto;
}

.imageForMobile {
  	display: none;
}

.campusInformation-text {
	display: flex;
  	flex-flow: wrap column;
  	justify-content: center;
  	margin-right: 8px;
}


/* start Learning section*/

#startLearning{
	background-color: #FFA579;
	padding-bottom: 32px;
}


#startLearning h1 {
  	font-family: 'Sumana', serif;
  	font-size: 2rem;
  	padding: 32px 0 32px 0;
  	text-align: center;
	font-weight: bold;
}

#startLearning h2 {
  	font-size: 1.5rem;
  	margin: 16px 0;
}

#startLearning h3 {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 1rem;
  	text-transform: uppercase;
  	margin: 8px 0;
}

#startLearning p {
  	font-family: 'Poiret One', cursive;
}


.CoursesBox {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
  	width: auto;
}

.eachCourse {
  	background-color: #FFFFFF;
  	width: 30%;
  	margin: 16px;
  	padding-bottom: 24px;
}

.eachCourse-text {
  	padding: 16px 16px;
}

.eachCourse-img {
 	width: 100%;
  	height: auto;
}

.course-img {
  	width: 100%;
  	height: auto;
}


/* Thesis section*/

#thesis h1 {
  	font-family: 'Sumana', serif;
  	font-size: 2rem;
  	padding-top: 32px;
  	text-align: center;
	font-weight: bold;
}

#thesis h3 {
  	font-size: 1.5rem;
  	font-weight: bold;
}

#thesis h4 {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 0.8rem;
  	margin: 8px 0;
}

.thesis-container {
	padding: 32px 24px 32px 0;
  	width: 100%;
  	display: flex;
}

.thesis-video-box {
  	height: auto;
  	width: 100%;
  	padding: 0 24px 0 24px;
  	
}

video {
  	height: auto;
  	width: 100%;
}

.thesis-text-box {
  	margin: 24px 0 32px 24px;
}

.thesis-text-box p {
  	margin-top: 8px;
}

.thesis-infomtion-container {
  	min-width: 30%;
}

.each-info-box {
  	min-height: 168px;
  	display: flex;
  	align-items: center;
}

.info-image-box {
  	max-width: 35%;
  	height: auto;
  	margin: 16px 16px 16px 16px;
}

.thesis-img {
  	width: 100%;
  	height: auto;
}

.info-text-box {
  	display: flex;
  	flex-flow: wrap column;
  	justify-content: center;
  	margin-right: 8px;
}

footer {
  	color: #003249;
  	padding: 0 24px;
  	border-top: 2px solid #003249;
  	display: flex;
  	justify-content: space-between;
}

.copy {
  	display: block;
  	padding: 16px 0;
}



footer a {
  	display: inline-block;
  	margin: 16px 0 0 16px;
  	text-decoration: underline;
}

footer a:hover {
  	text-decoration: none;
}



/* Setup for Mobile devices*/

@media only screen and (max-width: 710px) {
	#forDesktop {
		display: none;
	}

	#forMobile {
  		width: 100%;
  		display: flex;
  		justify-content: space-around;
  		align-items: center;
	}

	.colmarLogo {
		display: none;
	}

	#learnSomething {
	  	padding: 0;
	  	flex-wrap: wrap;
	}

	.learnSomething-image-box {
	  	width: 100%;
	  	height: 280px;
	  	overflow: hidden;
	}

	.learnSomething-text {
	  	display: flex;
	  	flex-flow: wrap column;
	  	justify-content: center;
	  	margin: 32px 16px;
	  	width: 100%;
	}

	#learnSomething h2 {
  		margin: 32px 0 24px 0;
	}

	#keepPractising {
  		padding-bottom: 16px;
	}

	.keepPractising-box {
  		display: none;
	}

	.campusInformation {
 		width: 100%;
	}

	.informationBoxes {
  		flex-flow: wrap column;
  		border: 0;
 	 	height: auto;
	}

	.information-image-box {
  		min-width: 100%;
  		margin: 0;
  		padding: 16px;
	}

	.imageForDesktop {
  		display: none;
	}

	.imageForMobile {
  		display: inline-block;
  		width: 100%;
  		height: auto;
	}

	.campusInformation-text {
  		margin-left: 32px;
  		margin-bottom: 16px;
	}

	#startLearning {
  		padding-bottom: 32px;
  		text-align: center;
	}

	#startLearning h1 {
  		font-family: 'Sumana', serif;
  		font-size: 2rem;
  		padding: 32px 0 8px 0;
  		text-align: center;
		font-weight: bold;
	}

	

	.CoursesBox {
  		justify-content: space-around;
  		width: 100%;
  		margin: 0 auto;
	}

	.eachCourse {
  		width: 100%;
  		margin: 8px 16px;
  		padding: 0;
	}

	.eachCourse-text h3, p {
  		display: none;
	}

	.eachCourse-img {
  		display: none;
	}

	.course-img {
  		display: none;
	}

	#thesis {
  		padding-bottom: 24px;
	}

	#thesis h1 {
		font-family: 'Sumana', serif;
  		padding: 32px 0 16px 0;
  		font-size: 2rem;
		font-weight: bold;
	}

	video {
  		height: 100%;
  		width: 100%;
	}

	.thesis-text-box {
	  	display: none;
	}

	.thesis-container {
		padding: 0;
  		width: 100%;
	}

	.thesis-video-box{
		padding: 0;
		height: 100%;
	}

	.thesis-infomtion-container{
		display: none;
	}

	footer {
	  	justify-content: flex-start;
	}

	.copy{
		padding: 16px 0;
	}
	.links {
	  	display: none;
	}

}
