@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Setup for desktop*/
* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html{
    font-size: 18px;
}


body{
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;
}


/* Header part start*/
header {
  	width: 100%;
  	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid #000000;
}



.colmarLogo {
	display: flex;
	align-items: center;
}


.colmarColor {
	text-transform: uppercase;
  	font-weight: bold;
}

.academyColor {
	text-transform: uppercase;
	color: #FF6C31;	
}

#forDesktop {
  	display: block;
}

#forDesktop a {
  	margin-left: 16px;
}

a{
	color: #000000;
  	text-decoration: none;
  	padding: 5px 5px;
  	border-radius: 5px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

a:hover {
  	background-color: #FF6C31;
}

#forMobile {
  	display: none;
}


/* learnSomething section*/

#learnSomething{
	background-color: #FFA579;
  	display: flex;
}

#learnSomething h1 {
	font-size: 4rem;
	font-weight: bold;
}

#learnSomething h2 {
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
  	margin: 40px 0 40px 0;
}

button {
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 13.89rem;
  margin-left: 30%;
  transition-property: background-color;
  transition-duration: 750ms;
}

button:hover {
  background-color: #7EFF71;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.learnSomething-image-box {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.learnSomething-image {
  width: 100%;
  height: auto;
}

.learnSomething-text {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  width: 40%;
  padding-right: 5rem;
  text-align: center;
}





/* Setup for Mobile devices*/

@media only screen and (max-width: 710px) {
	#forDesktop {
		display: none;
	}

	#forMobile {
  		width: 100%;
  		display: flex;
  		justify-content: space-around;
  		align-items: center;
	}

	.colmarLogo {
		display: none;
	}
}
