@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Setup for desktop*/
* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html{
    font-size: 18px;
}


body{
    font-family: Helvetica, sans-serif;
    background-color: #FFFFFF;
}


/* Header part start*/
header {
  	width: 100%;
  	height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid #000000;
}



.colmarLogo {
	display: flex;
	align-items: center;
}


.colmarColor {
	text-transform: uppercase;
  	font-weight: bold;
}

.academyColor {
	text-transform: uppercase;
	color: #FF6C31;	
}

#forDesktop {
  	display: block;
}

#forDesktop a {
  	margin-left: 16px;
}

header a{
	color: #000000;
  	text-decoration: none;
  	padding: 5px 5px;
  	border-radius: 5px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

header a:hover {
  	background-color: #FF6C31;
}

#forMobile {
  	display: none;
}


/* learnSomething section*/

#learnSomething{
	background-color: #FFA579;
  	display: flex;
}

#learnSomething h1 {
	font-size: 2rem;
	font-weight: bold;
}

#learnSomething h2 {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
  	margin: 40px 0 40px 0;
}

#learnSomething .wrapper{
	text-align: center;
}

button {
  	background-color: #FFFFFF;
  	border: none;
  	color: #000000;
  	padding: 15px 32px;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	width: 280px;
  	transition-property: background-color;
  	transition-duration: 750ms;
}

button:hover {
  	background-color: #7EFF71;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.learnSomething-image-box {
  	width: 60%;
  	height: auto;
  	padding: 32px 24px;
}

.learnSomething-image {
  	width: 100%;
  	height: auto;
}

.learnSomething-text {
  	display: flex;
  	flex-flow: wrap column;
  	justify-content: center;
  	margin: 32px 24px;
  	text-align: center;
}


/* keep Practicing section*/

#keepPractising {
  	display: flex;
}

#keepPractising h1 {
  	 /*font-family: by serif*/
  	font-size: 3rem;
  	font-weight: bold;
  	margin: 32px 0 24px 0;
}

#keepPractising h3 {
  	/*font-family: by serif*/
  	font-size: 2rem;
  	font-weight: bold;
}

#keepPractising h4 {
  	font-family: 'Open Sans', sans-serif;
  	font-size: 1rem;
  	margin: 8px 0;
}

#keepPractising a {
	font-size: 1rem;
  	text-decoration: none;
}

#keepPractising a:hover {
  	font-family: monospace;
  	color: #FF6C31;
}

.keepPractising-box {
  	padding: 32px 24px;
  	border-right: 1px solid #007EA7;
}

.keepPractising-image-box {
  	width: 100%;
  	height: auto;
}

.keepPractising-image {
  	width: 100%;
  	height: auto;
}

.quoteBy {
  	margin: 20px 0;
  	font-weight: bold;
}


.campusInformation {
  	min-width: 40%;
}

.informationBoxes {
  	display: flex;
  	min-height: 168px;
  	border-bottom: 1px solid #007EA7;
}

.information-image-box {
  	min-width: 35%;
  	height: auto;
  	margin: 32px;
}

.imageForDesktop {
  	width: 100%;
  	height: auto;
}

.imageForMobile {
  	display: none;
}

.campusInformation-text {
	display: flex;
  	flex-flow: wrap column;
  	justify-content: center;
  	margin-right: 8px;
}



/* Setup for Mobile devices*/

@media only screen and (max-width: 710px) {
	#forDesktop {
		display: none;
	}

	#forMobile {
  		width: 100%;
  		display: flex;
  		justify-content: space-around;
  		align-items: center;
	}

	.colmarLogo {
		display: none;
	}

	#learnSomething {
	  	padding: 0;
	  	flex-wrap: wrap;
	}

	.learnSomething-image-box {
	  	width: 100%;
	  	height: 280px;
	  	overflow: hidden;
	}

	.learnSomething-text {
	  	display: flex;
	  	flex-flow: wrap column;
	  	justify-content: center;
	  	margin: 32px 16px;
	  	width: 100%;
	}

	#learnSomething h2 {
  		margin: 32px 0 24px 0;
	}

	#keepPractising {
  		padding-bottom: 16px;
	}

	.keepPractising-box {
  		display: none;
	}

	.campusInformation {
 		width: 100%;
	}

	.informationBoxes {
  		flex-flow: wrap column;
  		border: 0;
 	 	height: auto;
	}

	.information-image-box {
  		min-width: 100%;
  		margin: 0;
  		padding: 16px;
	}

	.imageForDesktop {
  		display: none;
	}

	.imageForMobile {
  		display: inline-block;
  		width: 100%;
  		height: auto;
	}

	.campusInformation-text {
  		margin-left: 32px;
  		margin-bottom: 16px;
	}
}
